<p class="listing-show-title">
  <strong>
    <%= @listing.title %>
  </strong>
</p>

<div>
  <%= image_tag @listing.image %>
</div>
<br>
<div>
  <!--Simple_format for Showing HTML and line Breaks-->
  <%= simple_format(@listing.description) %>
</div>

