<!-- Rendering the Home Partial -->
<%= render 'pages/home' %>

<!-- Rendering Listings with an ID for isotope -->
<div id="listings">
  <%= render @listings %>
</div>

<%= will_paginate @listings %>
