<div class="row-fluid">

  <!-- Image Left side -->
  <div class="span8">
    <%= render 'listings/leftside' %>
  </div>

  <!-- Descriptions Side Right -->
  <div class="span3">
    <%= render 'listings/rightside' %>
  </div>

</div>
